.color{
  color: red;
  background-color: #0b0b0b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: flex;
}



